pandas 
numpy 

matplotlib
seaborn
plotly

scikit-learn
imbalanced-learn

requests

jupyter
notebook
jupyterlab
ipywidgets
# ipykernel
jupytext 
jupyter-contrib-nbextensions
nbconvert 

black
jupyter[black]
pytest

pandarallel
gsutil

python-dotenv 